* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, "sans-serif";
  background: linear-gradient(to right, #48b1bf, #06beb6);
  color: #fff;
}
section {
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 40px auto;
  font-size: 40px;
  letter-spacing: 1.5px;
}

/* Input Form */
form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.login-form,
.register-form {
  margin: auto;
}

form .email,
form .password,
form .name,
form .phone {
  margin: 0 auto;
}

label {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 4px;
}

label.form-margin {
  margin-top: 24px;
}

input {
  font-family: Poppins, "sans-serif";
  font-size: 16px;
  padding: 12px 16px;
  /* width: 100%; */
  width: 100vh;
  border-radius: 8px;
  border: none;
}

button {
  width: 100vh;
  margin: auto;
  margin-top: 40px;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  background-color: #0f282a;
  color: #fff;
  font-weight: 500;
  box-shadow: 0px 8px 40px -5px rgba(15, 40, 42, 0.2);
  font-family: Poppins, "sans-serif";
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: #1a4246;
}

.no-account {
  text-align: center;
  margin-top: 24px;
}

.no-account a {
  color: #fafafa;
  transition: ease-in-out 0.3s;
}

.no-account a:hover {
  opacity: 0.7;
}

footer {
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: 20px;
}

footer.footer-home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  text-align: center;
  font-weight: 500;
}

/* Home Styling */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.home h1 {
  margin-top: 30vh;
}

.home p {
  margin-top: -32px;
  font-size: 20px;
}

.home button {
  width: 240px;
  padding: 12px 40px;
}
